@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-heading: var(--font-sora);
  --font-body: var(--font-dm-sans);
  --font-wt-bold: 700;
}

body {
  font-family: var(--font-body), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading), system-ui, sans-serif;
  font-weight: var(--font-wt-bold);
}
